---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.3
  name: filteredapiexportendpointslices.apis.kcp.io
spec:
  group: apis.kcp.io
  names:
    categories:
    - kcp
    kind: FilteredAPIExportEndpointSlice
    listKind: FilteredAPIExportEndpointSliceList
    plural: filteredapiexportendpointslices
    singular: filteredapiexportendpointslice
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.export.name
      name: Export
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha2
    schema:
      openAPIV3Schema:
        description: |-
          FilteredAPIExportEndpointSlice is a sink for the endpoints of an APIExport. These endpoints can be filtered by a Partition.
          They get consumed by the managers to start controllers and informers for the respective APIExport services.
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: |-
              spec holds the desired state:
              - the targeted APIExport
              - the label-based object selector
            properties:
              export:
                description: export points to the API export.
                properties:
                  name:
                    description: name is the name of the APIExport that describes
                      the API.
                    type: string
                  path:
                    description: |-
                      path is a logical cluster path where the APIExport is defined.
                      If the path is unset, the logical cluster of the APIBinding is used.
                    pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?(:[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                    type: string
                required:
                - name
                type: object
                x-kubernetes-validations:
                - message: APIExport reference must not be changed
                  rule: self == oldSelf
              objectSelector:
                description: objectSelector TBD
                properties:
                  matchExpressions:
                    description: matchExpressions is a list of label selector requirements.
                      The requirements are ANDed.
                    items:
                      description: |-
                        A label selector requirement is a selector that contains values, a key, and an operator that
                        relates the key and values.
                      properties:
                        key:
                          description: key is the label key that the selector applies
                            to.
                          type: string
                        operator:
                          description: |-
                            operator represents a key's relationship to a set of values.
                            Valid operators are In, NotIn, Exists and DoesNotExist.
                          type: string
                        values:
                          description: |-
                            values is an array of string values. If the operator is In or NotIn,
                            the values array must be non-empty. If the operator is Exists or DoesNotExist,
                            the values array must be empty. This array is replaced during a strategic
                            merge patch.
                          items:
                            type: string
                          type: array
                          x-kubernetes-list-type: atomic
                      required:
                      - key
                      - operator
                      type: object
                    type: array
                    x-kubernetes-list-type: atomic
                  matchLabels:
                    additionalProperties:
                      type: string
                    description: |-
                      matchLabels is a map of {key,value} pairs. A single {key,value} in the matchLabels
                      map is equivalent to an element of matchExpressions, whose key field is "key", the
                      operator is "In", and the values array contains only "value". The requirements are ANDed.
                    type: object
                type: object
                x-kubernetes-map-type: atomic
                x-kubernetes-validations:
                - message: APIExport reference must not be changed
                  rule: self == oldSelf
            required:
            - export
            type: object
          status:
            description: |-
              status communicates the observed state:
              the filtered list of endpoints for the APIExport service.
            properties:
              conditions:
                description: conditions is a list of conditions that apply to the
                  FilteredAPIExportEndpointSlice.
                items:
                  description: Condition defines an observation of a object operational
                    state.
                  properties:
                    lastTransitionTime:
                      description: |-
                        Last time the condition transitioned from one status to another.
                        This should be when the underlying condition changed. If that is not known, then using the time when
                        the API field changed is acceptable.
                      format: date-time
                      type: string
                    message:
                      description: |-
                        A human readable message indicating details about the transition.
                        This field may be empty.
                      type: string
                    reason:
                      description: |-
                        The reason for the condition's last transition in CamelCase.
                        The specific API may choose whether or not this field is considered a guaranteed API.
                        This field may not be empty.
                      type: string
                    severity:
                      description: |-
                        Severity provides an explicit classification of Reason code, so the users or machines can immediately
                        understand the current situation and act accordingly.
                        The Severity field MUST be set only when Status=False.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: |-
                        Type of condition in CamelCase or in foo.example.com/CamelCase.
                        Many .condition.type values are consistent across resources like Available, but because arbitrary conditions
                        can be useful (see .node.status.conditions), the ability to deconflict is important.
                      type: string
                  required:
                  - lastTransitionTime
                  - status
                  - type
                  type: object
                type: array
              endpoints:
                description: endpoints contains all the URLs of the APIExport service.
                items:
                  description: APIExportEndpoint contains the endpoint information
                    of an APIExport service for a specific shard.
                  properties:
                    url:
                      description: url is an APIExport virtual workspace URL.
                      minLength: 1
                      type: string
                  required:
                  - url
                  type: object
                type: array
                x-kubernetes-list-map-keys:
                - url
                x-kubernetes-list-type: map
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
